* {
  padding: 0;
  margin: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #f7bd02 #f1f1f1;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #f7bd02;
  border-radius: 8px;
  border: 2px solid #f1f1f1; /* creates a little padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f7bd02; /* slightly darker orange on hover */
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #f7bd02;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #f7bd02;
  }
  html {
    scrollbar-width: thin;
    scrollbar-color: #f7bd02 #f1f1f1;
  }
}

@keyframes floatSmooth {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-float-smooth {
  animation: floatSmooth 4s ease-in-out infinite;
}
